@model IEnumerable<YarisTakip.Models.KullaniciYarisi>

@{

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Yarış
                </th>
                <th>
                    Yarış Kategori
                </th>
                <th>
                    Aksiyon
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Yaris.Baslik)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Yaris.YarisKategori)
                    </td>
                    <td>
                        <a type="btn btn-success" asp-controller="Yaris" asp-action="Detail" asp-route-id="@item.Id"
                                            class="btn btn-sm btn-outline-secondary">Detay</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</body>
</html>
