@using YarisTakip.Data.Enum
@model Yaris
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<form method="post" asp-action="Create">
  <div class="form-group">
    <label asp-for="Baslik">Baslik</label>
        <input asp-for="Baslik" class="form-control" placeholder="Baslik">
        <span asp-validation-for="Baslik" class="text-danger"></span>
  </div>
  <div class="form-group">
        <label asp-for="Aciklama">Aciklama</label>
        <input asp-for="Aciklama" class="form-control" placeholder="Aciklama">
        <span asp-validation-for="Aciklama" class="text-danger"></span>
  </div>
  <div class="form-group">
        <label asp-for="Resim">Resim</label>
        <input asp-for="Resim" class="form-control" placeholder="Resim">
        <span asp-validation-for="Resim" class="text-danger"></span>
  </div>
  <div class="form-group">
        <label asp-for="YarisKategori">YarisKategori</label>
        <select asp-for="YarisKategori" asp-items="@Html.GetEnumSelectList<YarisKategori>()" class="form-control">
             <option>--Select--</option>
    </select>
        <span asp-validation-for="YarisKategori" class="text-danger"></span>
  </div>
  <div class="form-group">
        <label asp-for="Adres.Sokak">Sokak</label>
        <input asp-for="Adres.Sokak" class="form-control" placeholder="Sokak">
        <span asp-validation-for="Adres.Sokak" class="text-danger"></span>
  </div>
  <div class="form-group">
        <label asp-for="Adres.Sehir">Sehir</label>
        <input asp-for="Adres.Sehir" class="form-control" placeholder="Sehir">
        <span asp-validation-for="Adres.Sehir" class="text-danger"></span>
  </div>
    <div class="form-group">
        <label asp-for="Adres.Ulke">Ulke</label>
        <input asp-for="Adres.Ulke" class="form-control" placeholder="Ulke">
        <span asp-validation-for="Adres.Ulke" class="text-danger"></span>
  </div>
  <button type="submit" class="btn btn-primary">Onayla</button>
</form>